@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
/* FONTS */
@font-face {
  font-family: newYorker;
  src: url(../type/NEWYORKR.TTF);
}

/* HEADER FORMATS */
.container-header {
  width: 100%;
}

.search-align {
  padding-right: 30px;
}

.subscribe-align {
  padding-left: 30px;
}

.blog-header {
  line-height: 2;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 5px 8px #f3f3f3;
  padding-bottom: 0!important;
}

.text-dark:hover {
  text-decoration: none;
}

/* BODY STYLES */
html, body {
  height: 100%;
}

h1, h2, h3, h5, h6 {
  font-family: "newYorker", Georgia, serif;
  text-transform: uppercase;
}

h4 {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Libre Caslon Text', serif;
}

a:hover {
  text-decoration-color: #000;
  text-decoration: underline;
}

hr {
  margin-bottom: 5%!important;
}

img {
  width: 100%;
  display: block;
}

.break {
  margin-top: 5%;
}

.small-logo {
  font-size: 1.5rem;
  margin-bottom: 0;
  font-weight: 500;
}

.big-logo {
  font-size: 3rem;
  font-weight: 500;
  margin-top: 0;
}

.columnist {
  font-size: 1rem;
  margin-top: 50px;
  margin-bottom: 20px;
  color: #ca423c;
}

.author {
  font-size: 1.1rem;
  font-weight: 700;
  padding-bottom: 2rem;
}

.article-title {
  font-size: 2.5rem;
  padding-right: 20%;
  padding-bottom: 20px;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/*
 * Blog name and description
 */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
  margin-left:15%;
  margin-right: 15%;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.blog-footer {
  padding: 1.5rem 0;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

a.footer-link {
  text-decoration: none;
  color: #fff;
}

a.footer-link:hover {
  text-decoration: underline;
  color: #fff;
}

.top {
  padding-top: 600px;
}

/** Map API **/
#map {
  width: 62%;
  height:33%;
  position: absolute;
  top: 300px;
  left: 17%;
}

/** Twitter API **/
.tweet-feed {
  width: 70%;
  padding: 10px;
  margin: 10px;
}

.twitter-img {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-right: 10px;
}

.twitter-handle {
  display: inline-block;
  font-size: 100%;
}

/** Images API **/
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

/*
 * Media Adjust
 */

@media (max-width: 768px) {
  .article-title {
    font-size: 2rem;
    padding-right: 5%;
  }
  h2.blog-post-title {
    font-size: 30px;
  }
  h1.small-logo {
    font-size: 1rem;
  }
  h1.big-logo {
    font-size: 2.1rem;
  }
  .blog-post {
    margin-left: 5%;
    margin-right: 5%;
  }
  .subscribe-align {
    padding-left: 10px;
  }
  #map {
    height: 25%;
    width: 90%;
    top: 350px;
    left: 6%;
  }
  .top {
    padding-top: 570px;
  }
  .tweet-feed {
    width: 100%;
    margin: 5px;
  }
  .grid {
    grid-template-columns: 1fr;
  }
}
