/*styles*/

/* NAV */
.center {
  text-align: center;
}

/* MAIN */
html, body {
        height: 100%;
        margin: 20px;
        padding: 20px;
      }

/* maps */
#map {
  position: absolute;
  height: 60%;
  width: 60%;
  margin: 10px;
}

#news {
  margin-top: 50%;
}

.float-right {
    float:right;
    border: 1px solid black;
    margin-top:20px;
}
